body {
  background: url(C:/Users/User/Desktop/uhsa/img/first_image.jpg);
  /*  background-size: 1340px 760px;*/
  background-size: 85%;
  background-position-x: center;
  background-repeat: no-repeat;
  background-color: #008cff;
}
