@font-face {
  font-family: "NIXGONM-Vb";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

#input-info {
  font-family: "NIXGONM-Vb";
  font-size: 30px;
  padding: 200px 0px;
  text-align: center;
  color: white;
}

#next {
  display: flex;
  align-self: flex-end;
  justify-content: right;
}

body {
  background-color: #008cff;
  margin: 0px 30px;
}
