@font-face {
  font-family: "NIXGONB-Vb";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONB-Vb.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NIXGONL-Vb";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONL-Vb.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NIXGONM-Vb";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.more-1 {
  display: flex;
  flex-direction: row;
  font-family: "NIXGONM-Vb";
  font-size: 18px;
  line-height: 1.3em;
}
.more-1 img {
  margin: 3%;
  margin-right: 5%;
}
.more-1 h2 {
  color: #008bff;
  margin-top: 10%;
  margin-bottom: 1%;
}
.more-2 {
  display: flex;
  flex-direction: row;
  font-family: "NIXGONM-Vb";
  font-size: 18px;
  line-height: 1.3em;
  margin-left: 5%;
}
.more-2 h2 {
  color: #008bff;
  margin-top: 8%;
  margin-bottom: 1%;
}
.more-3 {
  text-align: center;
  font-family: "NIXGONM-Vb";
  font-size: 18px;
  line-height: 1.3em;
}
.more-3 img {
  display: flex;
  margin: 5%;
  margin-left: 39%;
  width: 23%;
}
.more-3 h2 {
  color: #008bff;
  margin-top: 8%;
}
.more-4 {
  display: flex;
  flex-direction: row;
  font-family: "NIXGONM-Vb";
  font-size: 18px;
  line-height: 1.3em;
  margin-left: 5%;
}
.more-4 img {
  display: flex;
  /* width: 23%; */
  margin-top: 3%;
  margin-left: 4%;
}
.more-4 h2 {
  color: #008bff;
  margin-top: 8%;
  margin-bottom: 0%;
}
.more-5 {
  display: flex;
  flex-direction: row;
  font-family: "NIXGONM-Vb";
  font-size: 18px;
  line-height: 1.3em;
  margin-left: 5%;
}
.more-5 h2 {
  color: #008bff;
  margin-top: 8%;
  margin-bottom: 1%;
}
.more-6 {
  display: flex;
  flex-direction: row;
  font-family: "NIXGONM-Vb";
  font-size: 18px;
  line-height: 1.3em;
  margin-left: 5%;
}
.more-6 h2 {
  color: #008bff;
  margin-top: 8%;
  margin-bottom: 1%;
}
.more-7 {
  display: flex;
  flex-direction: row;
  font-family: "NIXGONM-Vb";
  font-size: 18px;
  line-height: 1.3em;
  margin-left: 5%;
}
.more-7 img {
  display: flex;
  /* width: 23%; */
  margin-top: 10%;
  margin-left: 4%;
}
.more-7 h2 {
  color: #008bff;
  margin-top: 12%;
  margin-bottom: 0%;
}
.more-8 {
  display: flex;
  flex-direction: row;
  font-family: "NIXGONM-Vb";
  font-size: 18px;
  line-height: 1.3em;
  margin-left: 5%;
}
.more-8 img {
  display: flex;
  /* width: 23%; */
  margin-top: 7%;
}
.more-8 h2 {
  color: #008bff;
  margin-top: 7%;
  margin-bottom: 0%;
}
.nav {
  background-color: #ffffff;
}
.title {
  text-align: center;
}
.title h1 {
  font-family: "NIXGONM-Vb";
  color: #008bff;
  font-size: 300%;
  margin: 1%;
  letter-spacing: 0.05em;
}

.container {
  display: grid;
  grid-template-columns: repeat(7, 0.4fr);
  gap: 40px;
  grid-template-rows: repeat(4, 220px);
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
  margin-bottom: 5%;
}
.item {
  background-color: #ffffff;
}

.item:nth-child(1) {
  grid-column: span 4;
}
.item:nth-child(2) {
  grid-column: span 3;
}

.item:nth-child(3) {
  grid-row: span 2;
  grid-column: span 3;
}
.item:nth-child(4) {
  grid-column: span 4;
}

.item:nth-child(5) {
  grid-column: span 2;
}
.item:nth-child(6) {
  grid-column: span 2;
}
.item:nth-child(7) {
  grid-column: span 3;
}
.item:nth-child(8) {
  grid-column: span 4;
}
.item:nth-child(9) {
  grid-column: span 3;
}
body {
  background-color: #e7f4ff;
}
